.list-pieces {
    overflow-x: auto;
}

.piece-card {
    min-width: max-content !important;
    min-width: max-content !important;
}

.piece {
    /* width: var(--cell-size)*5; */
    /* height: 100px; */
    /* width: 150px;
    height: 150px; */
}

#add-piece {
    border: #0d6efd dashed;
}

#add-piece i {
    font-size: 50px;
    color: #0d6efd;
}

#add-piece button {
    all: unset;
    cursor: pointer;
}

#add-piece button:hover i {
    display: block;
    scale: 1.2;
    transition: ease-in-out 0.2s;
}