@import url("piece.css");
html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: #212529 !important;
}

.main,
#tangram,
canvas {
    margin: 0px;
    padding: 0px;
}

canvas {
    /* position: relative; */
    position: absolute;
}

#sidebar-collapse {
    overflow-y: auto;
}